/* Färgvariabler */
$dark-color: #303841;
$light-color: #eeeeee;
$yellow-color: #ffe36e;
$red-color: #ea5455;
$max-width: 1500px;
$heading-font: 'Ubuntu', sans-serif;
$subheading-font: 'Montserrat Alternates', sans-serif;

// Sätt textfärg baserat på bakrundsfärg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #303841;
    } @else {
        @return #eeeeee;
    }
}

// Sätt bakgrunds- och textfärg
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

// Rubriker
@mixin profile-heading {
    font-family: $subheading-font;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.8rem;
    font-weight: lighter;
    margin: 30px 0 30px 0;
}