// Smartphones
@media (max-width: 769px) {
    .hide-sm {
        display: none;
    }
    .main-header {
        position: relative;
    }
    .header-inner {
        width: 100%;
        display: block;
        padding: 10px;
    }
    .landing {
        height: 40vh;
        &-inner {
            margin: 0 0 0 20px;
        h2 {
            font-size: 1.5rem;
            text-shadow: 2px 2px $dark-color;
        }
        }
    }
    .information {
        display: block;
        h3 {
            font-size: 1.5rem;
        }
        div {
            margin-bottom: 20px;
        }
        .icon-container {
            width: 80px;
            height: 80px;
            i {
                font-size: 2rem;
                margin: 15px;
            }
        }
    }
    .concept, .about {
        display: block;
        text-align: center;
        &-text {
            width: 100%;
            padding: 20px;
            h5 {
                margin-bottom: 20px;
                font-size: 1.2rem;
            }
        }
    }
    .container {
        width: 100%;
        margin: 2rem 0 0 0;
        padding: 0 30px;
        overflow: visible;
        h2 {
            font-size: 1.3rem;
        }
        .profile-container {
            .profile {
                display: block;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1025px) {
    .concept-text {
        padding: 20px;
    }
}